/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


 :root {
    --font-family: "IBM Plex mono", monospace;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --bigtitle-shadow: #ff0070;
    --title-blockColor: #ff8dcb;
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --article-title-color: var(--text-color);
    --section-title-color: var(--text-color);
    --border-color: var(--bigtitle-shadow);
    --corners-color: var(--text-color);
    --link-shadow: var(--title-blockColor);
    --rec-color: var(--background-color);
    --titleQuestionColor: var(--text-color)

  }